*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',Arial, Helvetica, sans-serif;
}
.cloud-img{
    display: block;
    position: fixed;
    z-index: 1;
    width: 300px;
}
.cloud-img.cloud1{
    top:80px;
    left:40px;
}

.cloud-img.cloud2{
    top:20%;
    left:60%;
    transform: translate(-50%);
}
.cloud-img.cloud3{
    bottom:20%;
    left: 30%;
    transform: translate(-50%);
}
.cloud-img.cloud4{
    bottom:10%;
    right: 5%;
    transform: translate(-50%);
}
body{
    height: 100vh;
    background-color: #9bf6f9;
}
nav{
    display: flex;
    font-size: 35px;
    padding:10px;
    color: #041937;
    align-items: center;
}
nav i{
    margin-right: 10px;
}
.container{
    background: linear-gradient(rgba(255, 255, 255, 0.675), rgba(255, 255, 255, 0.336));
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(7px);
    z-index: 3;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.105);
    border-radius: 8px;
}
.header{
    display: flex;
    align-items:center;
    font-size: 24px;
    color: #0b58c4;
    font-weight: 500;
    padding: 16px 15px;
}
.header i{
    cursor: pointer;
    font-size: 0px;
    margin-right: 8px;
}
.container.active .header i{
    font-size: 28px;
    margin-right: 5px;
}
.container .input-container{
    margin: 20px 25px 30px;
}
.container.active .input-container{
    display: none;
}
.input-container input{
    width: 100%;
    height: 40px;
    background:linear-gradient(45deg,
        rgba(255, 255, 255, 0.545) ,rgba(255, 255, 255, 0.704));
    border: 1px solid rgba(0, 0, 0, 0.101);
    outline: none;
    border-radius: 7px;
    padding:8px;
    text-align: center;
    font-size: 16px;
}
.input-container button{
    width: 100%;
    height: 40px;
    border:none;
    outline: none;
    color: #fff;
    border-radius: 7px;
    background-color: #0b58c4;
    cursor: pointer;
}
.input-container .separator{
    height: 1px;
    width: 100%;
    margin: 25px 0;
    position: relative;

}
.input-container .separator::after{
    content: "or";
    padding:0 14px;
    color: rgba(25, 22, 22, 0.775);
    position: absolute;
    font-size: 18px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.alert{
    display: none;
    padding: 8px 6px;
    text-align: center;
    margin-bottom: 12px;
    border-radius: 7px;
}
.alert.error{
    display: block;
    background-color: #fba2a2;
    border:1px solid #ff3b3b;
}
.alert.info{
    display: block;
    color: #0c5460;
    background-color: #15c981a5;
    border:1px solid #bee5eb;
}
.weather-part{
    margin: 30px 0 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container.active .weather-part{
    display: flex;
}
.weather-part img{
    max-width: 125px;
}
.weather-part .temp{
    display: flex;
    font-size: 72px;
    font-weight: 500;
}
.weather-part .temp .num{
    font-weight: 600;
}
.weather-part .temp .deg{
    font-size: 40px;
    margin: 10px 5px 0 0;
    display: block;
}
.weather-part .weather{
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
}
.weather-part .location{
    font-size: 21px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.location i{
    font-size: 24px;
    margin-right: 5px;
}
.weather-part .bottom-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;
}
.bottom-details .column{
    width: 100%;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
}
.column i{
    color: #43AFFC;
    font-size: 36px;
}
.column.humidity{
    border-left: 1px solid #bfbfbf;
}
.details .temp, .humidity span{
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}
.details .temp .deg{
    margin:0;
    font-size: 18px;
    padding: 0 2px 0 1px;
}
.details p{
    font-size: 14px;
    margin-top: -7px;
}